<span class="title-section">Compétences</span>

<hr>
<div>
    <mat-tab-group animationDuration="1111ms">
        <mat-tab label="Connaissances">
            <div>
                <button mat-stroked-button class="stroked-button" (click)="accordion.openAll()">Étendre</button>
                <button mat-stroked-button class="stroked-button" (click)="accordion.closeAll()">Réduire</button>
            </div>
            <mat-accordion class="header-panelcollabs" multi>

                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                C++
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'ai appris le C++ pendant mon BTS cependant, je le pratique principalement en développant
                            sur
                            Unreal Engine.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                C#
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'ai appris le C# pendant mon BTS quand je découvrais Unity en autodidacte.<br>
                            Mon travail depuis 2017 consiste à développer sur Unity en C#.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                Unity
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'ai appris Unity en autodidacte pendant mon BTS, ce qui m'a orienté vers une école de jeux
                            vidéo.
                            Depuis 2017 je développe des projets et des outils editeurs sur Unity.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                Unreal Engine
                                <!-- <mat-icon matTooltip="UnrealEngine" matTooltipPosition="right">SQL</mat-icon> -->
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'utilise Unreal engine sur mon temps libre depuis longtemps, mais je n'ai jamais développé
                            professionnellement dessus.
                            C'est un moteur qui m'attire le plus actuellement et pour améliorer mes
                            connaissances, je suis des cours sur Udemy. <br>
                            J'ai fais le cours UE5 Gameplay Ability System de Stephen Ulibarri, qui m'a vraiment montré
                            l'utilité du système GAS développé par Epic Games.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="GIT" matTooltipPosition="right"><i class="fab fa-git-square"></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'utilise GIT absolument sur tous mes projets personnels, en groupe et au travail.<br>
                            Etant à l'aise avec le fonctionnement de git, je peux résoudre des conflits et fusionner
                            des branches.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                PixiJS
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'ai découvert la Pixi JS sur mon temps libre pour m'amuser. Depuis je l'utilise pour faire
                            des prototypes sur navigateur.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="Java" matTooltipPosition="right"><i class="fab fa-java"></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">J'ai commencé à développer en Java dès la première année de BTS. Il s'agit du
                            premier langage de programmation que j'ai découvert. <br>
                            J'ai récemment développé des Plugins android en java pour les intégrer à des projets Unity
                            destinés à des casques VR qui tourne sur android 11+.
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div>
                                <mat-icon matTooltip="JavaScript" matTooltipPosition="right">
                                    <i class="fab fa-js-square"></i>
                                </mat-icon>
                                <mat-icon matTooltip="NodeJS" matTooltipPosition="right">
                                    <i class="fab fa-node"></i>
                                </mat-icon>
                                <mat-icon matTooltip="" matTooltipPosition="right"><i class=""></i>
                                </mat-icon>
                            </div>
                        </mat-panel-title>
                        <mat-panel-description style="display: inline;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%
                                </div>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row formation">
                        <div class="col">
                            J'utilise le Javascript avec le framework PixiJS pour le developement de jeux en HTML5.
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div class="div-separator"></div>
            <div class="row">
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Windows</div>
                            <div class="col">
                                <span>100%</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity" src="./assets/software/icon-windows.png" />
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Linux</div>
                            <div class="col">
                                <span>40% (Debian/Ubuntu)</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity" src="./assets/software/icon-linux.png" />
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="my-card">
                        <div class="row">
                            <div class="col" style="font-weight: bold;">Android</div>
                            <div class="col">
                                <span>40%</span>
                            </div>
                            <div class="col">
                                <img class="icon-entity" src="./assets/software/icon-android.png" />
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Logiciels">
            <br>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Unity</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-unity.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Unreal Engine</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/unrealengine.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Jetbrain Rider</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/rider.ico" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Android Studio</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-androidstudio.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Git</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-git.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">GitKraken</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-gitkraken.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Visual Studio</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-vs.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold; font-size: small;">Visual Studio Code
                                    </div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-vscode.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col">
                            <mat-card class="my-card">
                                <div class="row">
                                    <div class="col" style="font-weight: bold;">Slack</div>
                                    <div class="col">
                                        <img class="icon-entity" src="./assets/software/icon-slack.png" />
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>