<span class="title-section">A propos de moi</span>

<hr>
<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Profil">
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;">Langue</mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <img class="icon-entity" src="./assets/flag-fr.png" />
                            </div>
                            <div class="col">
                                Langue maternelle
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="icon-entity" src="./assets/flag-an.png" />
                            </div>
                            <div class="col">
                                Lu, écrit, parlé
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;">Permis</mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <mat-icon><i class="fas fa-car"></i></mat-icon>
                            </div>
                            <div class="col">
                                <mat-icon><i class="fas fa-ship"></i></mat-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Voiture</div>
                            <div class="col">Bateau</div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">Unity Actor Painter</mat-card-title>
                            <mat-card-subtitle>Outil Editeur</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/placeholder.png" alt="Aperçu de l'outil"
                            style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Outils editeur sur Unity pour peindre des groupes d'objets dans une scène Unity.
                            </p>
                        </mat-card-content>

                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://github.com/W3llgun/UE5PaintTool')">
                                <div>
                                    <mat-icon><i class="fab fa-github-square"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">UE5 Actor Painter</mat-card-title>
                            <mat-card-subtitle>Outil Editeur</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/placeholder.png" alt="Aperçu de l'outil"
                            style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Outils editeur sur UE5 pour peindre des groupes d'acteurs dans un niveau.
                            </p>
                        </mat-card-content>

                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://github.com/W3llgun/UnityPaintTool')">
                                <div>
                                    <mat-icon><i class="fab fa-github-square"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar
                                style="background-image: url('../../assets/icon-pepog.png'); background-size: cover;"
                                class="mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">Mon profil</mat-card-title>
                            <mat-card-subtitle>Si une image devait me représenter</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/code-works.jpg" alt="Aperçu de l'application mobile"
                            style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button" [disabled]="true">
                                <div>
                                    <mat-icon><i class="fas fa-user-circle"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar
                                style="background-image: url('../../assets/checkserv-logo.png'); background-size: cover;"
                                class="mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">CheckServ</mat-card-title>
                            <mat-card-subtitle>Un logiciel pour surveiller son serveur.</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/checkserv-img.png"
                            alt="Aperçu de la documentation que j'ai rédigé" style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Qu'est ce que CheckServ ? CheckServ est un service permettant de surveiller le bon
                                fonctionnement d'un ou plusieurs
                                serveurs. Si l'un des serveurs n'est plus joignable, le logiciel enverra automatiquement
                                un mail aux utilisateurs avec
                                la date/heure et le serveur concerné.
                                CheckServ permet aussi de surveiller des services rattachés à un serveur. Si l'un des
                                services n'est plus joignable par
                                l'extérieur, alors le logiciel enverra un mail.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://github.com/gpatruno/Checkserv')">
                                <div>
                                    <mat-icon><i class="fab fa-github-square"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Intérêts">
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;"> Voyages <i class="fas fa-plane-departure"
                                    style="margin-left: 10px;"></i> </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <span>
                                    Italie, Singapour, Canada, Corée du sud,
                                    Espagne, Belgique.
                                </span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;"> Sports <i class="fas fa-biking"
                                    style="margin-left: 10px;"></i> </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <span>
                                    Musculation, Fitness, Voile.
                                </span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;"> Jeux vidéos <i class="fas fa-gamepad"
                                    style="margin-left: 10px;"></i> </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <span>
                                    League of Legends / Age Of Empires / Guild Wars 2 / Minecraft
                                    /
                                    Valorant / Apex / Tarkov
                                </span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>