<span class="title-section">A propos de moi</span>

<hr>
<mat-tab-group animationDuration="1100ms">
    <mat-tab label="Profil">
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;">Langue</mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <img class="icon-entity" src="./assets/flag-fr.png" />
                            </div>
                            <div class="col">
                                Langue maternelle
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img class="icon-entity" src="./assets/flag-an.png" />
                            </div>
                            <div class="col">
                                Lu, écrit, parlé
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;">Permis</mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <mat-icon><i class="fas fa-car"></i></mat-icon>
                            </div>
                            <div class="col">
                                <mat-icon><i class="fas fa-ship"></i></mat-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Voiture</div>
                            <div class="col">Bateau</div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-unity mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">Unity Actor Painter</mat-card-title>
                            <mat-card-subtitle>Outil Editeur</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/projects/unitypainttool.gif" alt="Aperçu de l'outil"
                            style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Permet d'ajouter des groupes d'objets dans une scène en un simple mouvement.<br>
                                - Raccourcis clavier simple<br>
                                - Rotation et position aléatoire<br>
                                - Sélection aléatoire parmis un groupe<br>
                                - Annuler avec ctrl-z<br>
                                - Ajustement de la position et rotation avec la normale<br>
                                - et plus<br>
                            </p>
                        </mat-card-content>

                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://github.com/W3llgun/UnityPaintTool')">
                                <div>
                                    <mat-icon><i class="fab fa-github-square"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-ue mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">UE5 Actor Painter</mat-card-title>
                            <mat-card-subtitle>Outil Editeur</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/placeholder.png" alt="Aperçu de l'outil"
                            style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Permet d'ajouter des groupes d'acteurs dans un niveau en un simple mouvement.<br>
                                - Raccourcis clavier simple<br>
                                - Rotation et position aléatoire<br>
                                - Sélection aléatoire parmis un groupe<br>
                                - Annuler avec ctrl-z<br>
                                - Ajustement de la position et rotation avec la normale<br>
                                - et plus<br>
                            </p>
                        </mat-card-content>

                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://github.com/W3llgun/UE5PaintTool')">
                                <div>
                                    <mat-icon><i class="fab fa-github-square"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-unity mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">Unity Localisation</mat-card-title>
                            <mat-card-subtitle>Outil Editeur</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="../../assets/placeholder.png" alt="Aperçu de l'outil"
                            style="max-height: 370px;"> -->
                        <mat-card-content>
                            <p>
                                Outil privé pour Immersive Factory<br>
                                - Intégré a Unity Editor/Runtime<br>
                                - Un seul language dans la mémoire<br>
                                - Supporte l'écriture de droite à gauche<br>
                                - Import/Export CSV ou TSV<br>
                                - Changement de langue instantané et à tout moment<br>
                                - Support multi-données: Text, Audio, Image, Object<br>
                                - Optimisé pour le runtime<br>
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>


            </div>
            <div class="row">
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-unity mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">WPLogger</mat-card-title>
                            <mat-card-subtitle>Logger personel pour Unity</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="../../assets/placeholder.png" alt="Un logger que j'ai développer pour"
                            style="max-height: 370px;"> -->
                        <mat-card-content>
                            <p>
                                Un logger que j'ai développer pour mon usage personel qui comprend de nouvelles
                                fonctionnalitées
                                pas présente avec un simple Debug.Log.
                                Contient surtout une optimisation pour retirer complètement les appels des logs si ils
                                sont désactivé au runtime.
                                <br>
                                D'autres loggers existant doivent être meilleurs mais je me suis bien amusé à faire
                                le mien.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://github.com/W3llgun/WUnityLogger')">
                                <div>
                                    <mat-icon><i class="fab fa-github-square"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-ue mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">Dual Souls</mat-card-title>
                            <mat-card-subtitle>Projet GlobalGameJam sur UE4</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/projects/ggj2020_dualsoul.png"
                            alt="Un logger que j'ai développer pour" style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Le personnage alterne entre l'ombre et la lumière pour résoudre des puzzles.
                                <br>
                                Projet fait sur UE4 à l'occasion de la GlobalGameJam 2020 en duo.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://brizoft.itch.io/dual-souls')">
                                <div>
                                    <mat-icon><i class="fa-brands fa-itch-io">itch io</i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-unity mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">Metotem</mat-card-title>
                            <mat-card-subtitle>Projet GlobalGameJam sur Unity</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/projects/ggj2018_m.png" alt="Jeux de mémoire"
                            style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Jeux de mémoire.
                                <br>
                                Projet fait sur unity à l'occasion de la GlobalGameJam 2018 avec l'équipe d'Immersive
                                Factory.
                            </p>
                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <mat-card class="preview-card">
                        <mat-card-header>
                            <div mat-card-avatar class="header-image-unity mat-elevation-z8"></div>
                            <mat-card-title style="font-weight: bold;">You The Shepherd</mat-card-title>
                            <mat-card-subtitle>Projet GlobalGameJam sur Unity</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="../../assets/projects/ggj2016_yts.png"
                            alt="Un logger que j'ai développer pour" style="max-height: 370px;">
                        <mat-card-content>
                            <p>
                                Jeux jouable uniquement sur Twitch en interagissant avec des commandes dans le chat.
                                Se présente sous la forme d'un mini god game ou les joueurs peuvent terraformer le
                                terrain pour influer sur les animaux présent dans le monde.
                                <br>
                                Projet fait sur unity à l'occasion de la GlobalGameJam 2016 avec une équipe de Rubika.
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button class="menu-button"
                                (click)="redirect('https://v3.globalgamejam.org/2016/games/you-shepherd')">
                                <div>
                                    <mat-icon><i class="fa-solid fa-globe"></i></mat-icon>
                                </div>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Intérêts">
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;"> Voyages <i class="fas fa-plane-departure"
                                    style="margin-left: 10px;"></i> </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <span>
                                    Italie, Singapour, Canada, Corée du sud,
                                    Espagne, Belgique.
                                </span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;"> Sports <i class="fas fa-biking"
                                    style="margin-left: 10px;"></i> </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <span>
                                    Fitness, Musculation, Voile.
                                </span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title style="font-weight: bold;"> Jeux vidéos <i class="fas fa-gamepad"
                                    style="margin-left: 10px;"></i> </mat-card-title>
                        </mat-card-header>
                        <div class="row">
                            <div class="col">
                                <span>
                                    Un peu de tout, des petits au grands !
                                </span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>