.icon-entity {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 60px;
}

mat-card {
    margin-top: 5px;
    margin-bottom: 10px;
}

.preview-card {
    max-width: 400px;
}

.header-image-unity {
    background-image: url("../../assets/software/icon-unity.png");
    background-size: cover;
}

.header-image-ue {
    background-image: url("../../assets/software/unrealengine.png");
    background-size: cover;
}