<span class="title-section">Expériences</span>

<hr>
<div>
    <button mat-stroked-button class="stroked-button" (click)="accordion.openAll()">Étendre</button>
    <button mat-stroked-button class="stroked-button" (click)="accordion.closeAll()">Réduire</button>
</div>
<mat-accordion class="header-panelcollabs" multi>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017 - Aujourd'hui
            </mat-panel-title>
            <mat-panel-description>
                Immersive Factory
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row formation">
            <div class="col title">Développeur Unity</div>
            <div class="col option">CDI</div>
            <!-- <div class="col">Développement du gameplay de plusieurs projets en VR</div> -->
            <div class="col">Albi</div>

            <div class="row">
                <div class="col">2017 - 2019: Developpeur Gameplay / VR <br>
                    - Production de serious game en VR<br>
                    - Production d'outils interne (localisation)<br>
                    - R&D sur les nouvelles technologies VR<br>
                </div>
                <div class="col-2">
                    <img class="icon-entity mat-elevation-z8" src="./assets/icon-immersive.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col">2019 - 2022: Spécialisation sur la création d'outils de développements<br>
                    - Launcher / DRM
                    - Unity HTTPS
                    - Dev Helpers
                </div>
            </div>
            <div class="row">
                <div class="col">2022 - Aujourd'hui: Maintient de service, R&D et développment de POC<br>
                    - Plugin et app pour Android 11+
                    - R&D Photon / Fishnet
                    - Projet de type Metaverse
                </div>
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2017
            </mat-panel-title>
            <mat-panel-description>
                Immersive Factory
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Stage fin d'étude</div>
                <div class="col">6 mois</div>
                <div class="col">Albi</div>
            </div>
            <div class="row">
                <div class="col">J’ai travaillé sur une simulation de chantier en VR sur le moteur Unity (C#).
                </div>
                <div class="col-2">
                    <img class="icon-entity mat-elevation-z8" src="./assets/icon-immersive.jpg" />
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2016
            </mat-panel-title>
            <mat-panel-description>
                Start-up Wivy
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Stage 4ème année Rubika</div>
                <div class="col">2 mois</div>
                <div class="col">Tourcoing</div>
            </div>
            <div class="row">
                <div class="col-10">J’ai été amené à développer un prototype de quizz et party game sur Unity destinée
                    aux personnes agées en EHPAD.
                </div>
                <!-- <div class="col-2">
                    <img class="icon-entity mat-elevation-z8" src="./assets/place.jpg" />
                </div> -->
            </div>
            <div class="row"></div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2015
            </mat-panel-title>
            <mat-panel-description>
                Service Informatique - Mairie de Marseille
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Stage 2ème année de BTS</div>
                <div class="col">2 mois</div>
                <div class="col">Marseille</div>
            </div>
            <div class="row">
                <div class="col">Développement d'un prototype pour l'affichage des résultats des élections municipales
                    sur un site internet en javascript.
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                2014
            </mat-panel-title>
            <mat-panel-description>
                Systerel
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="formation">
            <div class="row">
                <div class="col title">Stage 1ère année de BTS</div>
                <div class="col">2 mois</div>
                <div class="col">Aix-en-Provence</div>
            </div>
            <div class="row">
                <div class="col">Découverte du métier de système administrateur.<br>
                    - Découverte de linux<br>
                    - Développement de scripts de gestion système
                </div>
                <div class="col-2">
                    <img class="icon-entity mat-elevation-z8" src="./assets/placeholder.png" />
                </div>
            </div>
        </div>
    </mat-expansion-panel>

</mat-accordion>