<span class="title-section">Formations</span>

<hr>
<div class="container">
    <mat-card>
        <div class="row">
            <div class="col date">2015 - 2017</div>
            <div class="col title">Masters</div>
            <div class="col">Rubika</div>
            <div class="col">
                <img class="icon-entity mat-elevation-z8" src="./assets/placeholder.png" />
            </div>
        </div>
        <div class="row">
            <div class="col option">Développement jeux vidéos</div>
            <div class="col" style="font-weight: bold;">Obtenu</div>
            <div class="col">Valenciennes</div>
            <div class="col">
                <a href="https://www.ynov.com/formation/ynov-masteres/expert-developpement-mobile-iot/">TODO</a>
            </div>
        </div>
    </mat-card>
    <br>
    <mat-card>
        <div class="row">
            <div class="col date">2013 - 2015</div>
            <div class="col title" matTooltip="BTS Service Informatique Organisation">BTS SIO</div>
            <div class="col">Lycée Charles Péguy</div>
            <div class="col">
                <img class="icon-small mat-elevation-z8" src="./assets/icon-charles.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col option">Option solutions logicielles et applications</div>
            <div class="col" style="font-weight: bold;">Obtenu</div>
            <div class="col">Marseille</div>
            <div class="col">
                <a
                    href="https://charlespeguymarseille.com/enseignement-superieur/le-bts-sio-services-informatiques-aux-organisations/">Formation
                    BTS SIO</a>
            </div>
        </div>
    </mat-card>

</div>